<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yt-interactive-downloader</title>
    <style>
        td {
            min-width: 120px;
        }
    </style>
</head>

<body style="margin: 0;padding: 0; height: 100vh; width: 100vw; overflow: hidden;">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div style="width: 560px; height: 315px;">
            <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/watch"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <form id="download" action="/download/" method="post">
                <input style="width: 80%;" name="server" type="text" placeholder="external server" value="{{ server }}">
                <input style="width: 80%;" name="path_to_download" type="text" placeholder="path_to_download"
                    value="{{ path_to_download }}">
                <button type="button" id="download-button">download</button>
            </form>
        </div>
        <div style="margin: 0; padding: 0; width: calc(100vw - 560px); height: 100vh;">
            <form method="post" style="position: sticky; border: 2px dashed black;">
                {% if history %}
                <input style="width: 300px;" type="search" name="query" placeholder="検索クエリ"
                    value="{{ history['query'] }}">
                {% else %}
                <input style="width: 300px;" type="search" name="query" placeholder="検索クエリ">
                {% endif %}
                <input type="submit" value="search">
                <div>
                    {% if history %}
                    <input style="width: 200px;" type="text" name="channelId" placeholder="channelId, optional"
                        value="{{ history['channelId'] }}">
                    {% else %}
                    <input style="width: 200px;" type="text" name="channelId" placeholder="channelId, optional">
                    {% endif %}
                </div>
                <div>
                    <span>Parent Topic: </span>
                    {% if history.get("topic") is none or history["topic"] == "any" %}
                    <input type="radio" name="topic" id="any" value="any" checked>
                    {% else %}
                    <input type="radio" name="topic" id="any" value="any">
                    {% endif %}
                    <label for="any">any</label>
                    {% if history["topic"] == "music" %}
                    <input type="radio" name="topic" id="music" value="music" checked>
                    {% else %}
                    <input type="radio" name="topic" id="music" value="music">
                    {% endif %}
                    <label for="music">music</label>
                    {% if history["topic"] == "game" %}
                    <input type="radio" name="topic" id="game" value="game" checked>
                    {% else %}
                    <input type="radio" name="topic" id="game" value="game">
                    {% endif %}
                    <label for="game">game</label>
                    {% if history["topic"] == "sport" %}
                    <input type="radio" name="topic" id="sport" value="sport" checked>
                    {% else %}
                    <input type="radio" name="topic" id="sport" value="sport">
                    {% endif %}
                    <label for="sport">sport</label>
                    {% if history["topic"] == "entertainment" %}
                    <input type="radio" name="topic" id="entertainment" value="entertainment" checked>
                    {% else %}
                    <input type="radio" name="topic" id="entertainment" value="entertainment">
                    {% endif %}
                    <label for="entertainment">entertainment</label>
                    {% if history["topic"] == "lifestyle" %}
                    <input type="radio" name="topic" id="lifestyle" value="lifestyle" checked>
                    {% else %}
                    <input type="radio" name="topic" id="lifestyle" value="lifestyle">
                    {% endif %}
                    <label for="lifestyle">lifestyle</label>
                    {% if history["topic"] == "social" %}
                    <input type="radio" name="topic" id="social" value="social" checked>
                    {% else %}
                    <input type="radio" name="topic" id="social" value="social">
                    {% endif %}
                    <label for="social">social</label>
                    {% if history["topic"] == "knowledge" %}
                    <input type="radio" name="topic" id="knowledge" value="knowledge" checked>
                    {% else %}
                    <input type="radio" name="topic" id="knowledge" value="knowledge">
                    {% endif %}
                    <label for="knowledge">knowledge</label>
                </div>
                <div>
                    <span>#Max Results: </span>
                    {% if history %}
                    <input type="number" name="maxResults" id="maxResults" value="{{ history['maxResults'] }}" min="-1">
                    {% else %}
                    <input type="number" name="maxResults" id="maxResults" value="30" min="-1">
                    {% endif %}
                    <span>Date Range: </span>
                    {% if history %}
                    <input type="date" name="publishedAfter" id="publishedAfter"
                        value="{{ history['publishedAfter'] }}">
                    {% else %}
                    <input type="date" name="publishedAfter" id="publishedAfter">
                    {% endif %}
                    <span> ~ </span>
                    {% if history %}
                    <input type="date" name="publishedBefore" id="publishedBefore"
                        value="{{ history['publishedBefore'] }}">
                    {% else %}
                    <input type="date" name="publishedBefore" id="publishedBefore">
                    {% endif %}
                </div>
                <div>
                    <span>Order: </span>
                    {% if history.get("order") is none or history["order"] == "unset" %}
                    <input type="radio" name="order" id="unset" value="unset" checked>
                    {% else %}
                    <input type="radio" name="order" id="unset" value="unset">
                    {% endif %}
                    <label for="unset">unset</label>
                    {% if history["order"] == "date" %}
                    <input type="radio" name="order" id="date" value="date" checked>
                    {% else %}
                    <input type="radio" name="order" id="date" value="date">
                    {% endif %}
                    <label for="date">date</label>
                    {% if history["order"] == "rating" %}
                    <input type="radio" name="order" id="rating" value="rating" checked>
                    {% else %}
                    <input type="radio" name="order" id="rating" value="rating">
                    {% endif %}
                    <label for="rating">rating</label>
                    {% if history["order"] == "relevance" %}
                    <input type="radio" name="order" id="relevance" value="relevance" checked>
                    {% else %}
                    <input type="radio" name="order" id="relevance" value="relevance">
                    {% endif %}
                    <label for="relevance">relevance</label>
                    {% if history["order"] == "title" %}
                    <input type="radio" name="order" id="title" value="title" checked>
                    {% else %}
                    <input type="radio" name="order" id="title" value="title">
                    {% endif %}
                    <label for="title">title</label>
                    {% if history["order"] == "view" %}
                    <input type="radio" name="order" id="view" value="view" checked>
                    {% else %}
                    <input type="radio" name="order" id="view" value="view">
                    {% endif %}
                    <label for="view">viewCount</label>
                </div>
                <div>
                    <span>Caption: </span>
                    {% if history.get("caption") is none or history["caption"] == "any" %}
                    <input type="radio" name="caption" id="any" value="any" checked>
                    {% else %}
                    <input type="radio" name="caption" id="any" value="any">
                    {% endif %}
                    <label for="any">any</label>
                    {% if history["caption"] == "closedCaption" %}
                    <input type="radio" name="caption" id="closedCaption" value="closedCaption" checked>
                    {% else %}
                    <input type="radio" name="caption" id="closedCaption" value="closedCaption">
                    {% endif %}
                    <label for="closedCaption">closedCaption</label>
                    {% if history["caption"] == "none" %}
                    <input type="radio" name="caption" id="none" value="none" checked>
                    {% else %}
                    <input type="radio" name="caption" id="none" value="none">
                    {% endif %}
                    <label for="none">none</label>
                </div>
            </form>
            <div id="results" style="overflow: scroll; height: 75vh;">
                {% if status == "success" %}
                {% for item in response["items"] %}
                <div>
                    <table>
                        <tbody>
                            {% if item["id"]["kind"] == "youtube#video" %}
                            {% set videoId = item["id"]["videoId"] %}
                            <tr data-videoId="{{ videoId }}" onmouseover="document.body.style.cursor = 'pointer'"
                                onmouseleave="document.body.style.cursor = 'default'"
                                onmousedown="document.getElementById('video').setAttribute('src', 'https://www.youtube.com/embed/{{ videoId }}'); document.getElementById('download').setAttribute('action', '/download/{{ videoId }}');">
                                <td>動画ID</td>
                                <td>{{ item["id"]["videoId"] }}</td>
                            </tr>
                            <tr>
                                <td>タイトル</td>
                                <td>{{ item["snippet"]["title"] }}</td>
                            </tr>
                            <tr>
                                <td>概要</td>
                                <td>{{ item["snippet"]["description"] }}</td>
                            </tr>
                            <tr>
                                <td>公開日</td>
                                <td>{{ item["snippet"]["publishTime"] | display_time }}</td>
                            </tr>
                            <tr>
                                <td>チャンネル</td>
                                <td>{{ item["snippet"]["channelTitle"] }}</td>
                            </tr>
                            <tr>
                                <td>チャンネルID</td>
                                <td>{{ item["snippet"]["channelId"] }}</td>
                            </tr>
                            {% elif item["id"]["kind"] == "youtube#channel" %}
                            <tr>
                                <td>チャンネルID</td>
                                <td>{{ item["id"]["channelId"] }}</td>
                            </tr>
                            <tr>
                                <td>チャンネル</td>
                                <td>{{ item["snippet"]["title"] }}</td>
                            </tr>
                            <tr>
                                <td>概要</td>
                                <td>{{ item["snippet"]["description"] }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <hr>
                {% endfor %}
                {% elif status == "fail" %}
                <p style="color: red;">検索結果の取得に失敗しました</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</body>

<script>
    document.getElementById("download-button").addEventListener("click", async (e) => {
        event.stopPropagation();
        event.preventDefault();
        alert("ダウンロードを開始します")
        const options = { method: 'POST', body: new FormData(document.getElementById('download')) };
        const res = await fetch(document.getElementById('download').getAttribute('action'), options);
        if (res.ok) alert("ダウンロードに成功しました")
        else alert("ダウンロードに失敗しました")
    })
</script>

</html>